@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */
/* --color-skyblue: #7bdff2;
--color-celeste: #b2f7ef;
--color-mintcream: #eff7f6;
--color-cottoncandy: #f7d6e0;
--color-piggypink: #f2b5d4;
--color-darkgray: #333333;
--color-gray: #555555;
--color-lightGray: #9da1a1*/

body, html, #root {
    height: 100%;
    width: 100%;
  }

  *::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: #b2f7ef;        /* color of the tracking area */
    border-radius: 20px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7bdff2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #9da1a1;  /* creates padding around scroll thumb */
  }

input::placeholder {
    color:#333333 ;
    opacity: 1;
}

::selection {
  color: #333333;
  background-color: #eff7f6;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-clip-custom {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-fluid-text {
  font-size: clamp(3rem, 8vmin, 4rem);
}

.sugarCloudBtn{
    color: #090909;
    font-family: "Josefin Sans", sans-serif;
    background: transparent;
    transition: all .3s;
    border-radius: 10px;
    box-shadow:
    6px 6px 12px #c5c5c5,
    -6px -6px 12px #fff,
    inset -2px -2px 6px #c5c5c5,
    inset 2px 2px 5px #fff;
}

.sugarCloudBtn:hover {
    box-shadow:
    -6px -6px 12px #c5c5c5,
    6px 6px 12px #fff,
    inset 2px 2px 6px #c5c5c5,
    inset -2px -2px 5px #fff;
}

.neumButtonContainer{
background:#f8d7e8;
}

.neumButton{
color:#333333;
font-family: "Josefin Sans", sans-serif;
font-size: 1.2rem;
border-radius:10px;
background: #ffe9f4;
/* border:1px solid  #f8d7e8; */
transition: all .3s;
box-shadow:6px 6px 12px #ffe3eb,-6px -6px 12px #eff7f6, inset -6px -6px 12px #ffe3eb, inset 6px 6px 12px #eff7f6;
}

.neumButton:hover{
box-shadow: -6px -6px 12px #ffe3eb, 6px 6px 12px #eff7f6, inset 6px 6px 12px #ffe3eb, inset -6px -6px 12px #eff7f6 ;
cursor: pointer;
transform: translateY(-3px);
}

.burgerButton,
.burgerButton::before,
.burgerButton::after {
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background-color: #333333;
}

.burgerButton {
  position: relative;
}

.burgerButton::before,
.burgerButton::after {
  display: block;
  content: "";
  position: absolute;
}

.burgerButton::before {
  top: -8px;
}

.burgerButton::after {
  top: 8px;
}

.typing {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typing-effect{
    width: 26ch;
    animation: typing 2s steps(30), effect 1s step-end 2.1s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #9da1a1;
}
.typing-effect--label {
    font-family: "Josefin Sans", sans-serif;
    transform: translate(0, -50%);
    width: 14ch;
    top: 50%;
    left: 10%;
    transition: all .5s;
    line-height: 1.2;
    cursor: pointer;
}



#marketing-email:focus + label,
#marketing-email:focus-visible + label,
#marketing-email:active + label
{
    transform: translate(-20px, -60px);
    transition: all .5s;
    border: none;
    cursor: initial;
}

@keyframes typing {
     from {
        width:0;
      }
    }

@keyframes effect {
       50% {
        border-color: transparent;
      }
    }


/* ACCORDION */

.tab {
  border-radius: 8px;
  width: 100%;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
.accordInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordInput:checked + .tab-label {
  background: #1a252f;
}
.accordInput:checked + .tab-label::after {
  transform: rotate(90deg);
}
.accordInput:checked ~ .tab-content {
  max-height: initial;
  height: 45vh;
}

